
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

.span1 {
  font-family: "Playwrite DK Loopet", cursive;
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
}
.body
 {
    font-family: "Inter", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0; */
      background: #000;
      
  }
 
  .thre-dot
  {
    
    color: white;
    display: none;

   
    
  } 
  


  .section-fitness {
    height: max-content;
    width: 100%;
    /* background-color: black; */
    /* background-color:  rgba(255, 255, 255, 0.1); */

    /* background: linear-gradient(180deg, rgb(20, 20, 20), rgba(0, 0, 0, 0) 100%); */

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0) 100%);
   
    
  }

  .nav-div2
  {
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 28px;
  }
  
  .nav-div2 ul
  {
    display: flex;
    gap: 30px;
    font-size: 20px;
    list-style-type: none;
    color: white;
    margin: 0 auto;
    padding: 1px 5px 1px 5px;
  }
  .nav-div1 h1
  {
    color: rgb(230,83,60);
    font-style: italic;
    font-size: 32px;
  }
  .btn
  {
    background-color: rgb(230,83,60);
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    color: white;
    

  }
  .nav
  {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 50px 150px;
    align-items: center;
  }
  .fitness
  {
display: flex;
justify-content: space-between;

  }
  .main-div1 h1
  {
    font-size: 4rem;
    color: white;
  }
 
  .main-div1 p
  {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .btn-join
  {
    width: 200px;
    height: 50px;
    border-radius: 36px;

  }

  .btn-download
  {
    width: 200px;
    height: 50px;
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 36px;
    font-size: 16px;
    
    background: #000;
    color: white;
  }
  .main-div1
  {
    width: 600px;
    /* height: 400px; */
    height: max-content;
    margin-left: 180px;
    margin-top: 30px;
  }

  
  .main-div2
  {
    width: 500px;
    height: 650px;
    margin-right: 210px;
    display: flex;
    flex-direction: column;
  }
  #images2-id
  {
    width: 500px;
    height: 550px;
  }
  
  .draw-circle
  {
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    width: 50px;
    height: 50px;
    
  }
  .criclered
  {
    display: flex;
    align-items: center;
    gap: 20px;

  }

  .test
{
  height: 0px;
  width: 0px;
  /* background: white; */
  transform: rotate(90.00deg);
  border-bottom: 24px solid white;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  /* border-left: 12px solid  rgb(230, 83, 60);
  border-right: 12px solid rgb(230, 83, 60); */
  margin-left: 12px;
 margin-top: 12px;
 visibility: hidden;

 
}

  .div350
  {
    margin-top: -150px;
    margin-left: -70px;
    color: white;
    width: 190px;
    height: 90px;
    line-height: 10px;

    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
text-align: center;
  }

  #h1500
  {
    font-size: 30px;
  }
  .div500
  {
    margin-top: -350px;
    margin-left: 350px;
    color: white;
    width: 210px;
    height: 100px;
    line-height: 10px;

    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
text-align: center;
  }


/* 

  @media screen and (max-width:576px) {
    .nav-div2 {
        visibility: hidden;
    }

    .div-red {
        border: 2px solid red;
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }

    .div-blue {
        border: 2px solid blue;
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }

    .div-tometa {
        border: 2px solid green;
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
} */

.section-challange
{

  width: 100%;
  background: #000;
  margin: -20px auto;
}

#challange-h1
{
  color: white;
  
  font-size: 42px;
  margin-top: 20px;
}
#challange-p
{
  color: rgba(255, 255, 255, 0.5);
 

  font-size: 12px;
}


.section-challange-1
{

  color: white;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.section-challange-2
{
 
  display: flex;
 justify-content: space-between;
 padding: 150px;
}

.img-red
{
  height: 270px;
  width: 250px;
  border-radius: 50%;

}
.section-challange-2-imgdes
{

  height: 200px;
  width: 250px;
  color: white;
}

.section-challange-2-imgdes p
{

  color: rgba(255, 255, 255, 0.5);

}



/* section -3 */


.section-run
{
  background-color: #000;
}
.section-run-main
{
  height: max-content;
  width: 80%;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.run-img1
{
  height: 350px;
  width: 350px;
}
.run-des
{
  width: 50%;
  height: max-content;
 padding: 20px;
}
.run-img
{
  
  padding: 5%;
  
}
.run-img1
{
  border-radius: 18px;
}
.run-des h1
{
  color: white;
  font-size: 64px;
}

.run-des p
{
  color: rgba(255, 255, 255, .5);
  font-size: 24px;
  margin-bottom: 40px;
}
.btn-run
{
  width: 250px;
  height: 50px;
}

/* secton-4  */
.div4-des h1
{
  color: white;
  font-size: 48px;
}
.div4-des p
{
  color: rgba(255, 255, 255, 0.5);

  font-size: 18px;
}
.div4-des
{
  height: max-content;
  width: 60%;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: 100px;
}


.div4-table
{
  height: max-content;
  background: rgb(34, 34, 34);
}

.div4-table1 h1
{
  color: rgb(255, 255, 255);
  font-size: 28px;
}


.div4-table1 th
{
  color: rgb(255, 255, 255);
  font-size: 16px;
}


.div4-table1 td
{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
table,th,td,tr{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  height: 60px;
  width: 400px;
  text-align: center;
}

.div4-table2 h1
{
  color: rgb(255, 255, 255);
  font-size: 28px;
}

.div4-table2 p
{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  
}
.btn1
{
  border-radius: 8px;
  border: none;

background: rgba(255, 255, 255, 0.1);
color: rgba(255, 255, 255, 0.6);
height: 50px;
width: 165px;
margin: 12px 0;
text-align: left;
font-size: 16px;
}
.btn2
{
  border-radius: 8px;
  border: none;

background: rgba(255, 255, 255, 0.1);
color: rgba(255, 255, 255, 0.6);
height: 50px;
width:340px;
margin: 18px 0;
font-size: 16px;


}
.btn3
{
  border-radius: 42px;
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-size: 18px;
height: 50px;
width: 200px;
}

.div4-table
{
  display:flex;
  gap: 80px;
 
 
  
}

.div4-table1
{
  width: 50%;
  padding: 180px;
}

.div4-table2
{
  width: 50%;
  padding: 180px;
}
/* problem */
option
{
  display: none;
}




/* section-5 */

.section-5
{
  padding: 180px;
}
.div5-des h1
{
  color: rgb(255, 255, 255);
  font-size: 48px;
  text-align: center;

}

.div5-des p
{
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;

}

.div5-des
{
  height: max-content;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.grid-main
{
  border-radius: 18px;

background: rgba(255, 255, 255, 0.1);
padding: 2%;
/* margin: 30px 20px 30px 20px; */

}

.grid-img
{
  border-radius: 18px;
  width: 98%;
  height: 300px;
  margin-bottom: 40px;
  

}
.img-name h1
{
   color: rgb(255, 255, 255);
   font-size: 30px;
  
}
.img-name h5
{
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  
}
.img-name
{
  margin-top: -170px;
  line-height: 10px;
  margin-left: 40px;
}
.grid-main
{
  width: 96%;

  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
 
}
.section-6
{
  background: rgba(255, 255, 255, 0.1);
  /* height: max-content +60px; */
  /* height: 1000px; */
}
.section-6-div-1
{
  width: 35%;
}

.section-6-div-1 h1
{
  color: rgb(230, 83, 60);
  font-size: 64px;
  font-style: italic;
  font-weight: 800;
}


.section-6-div-1 p
{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.section-6-div-2 
{
  width: 30%;
}


.section-6-div-3 
{
  width: 30%;
}
.section-6-div-2-h1
{
  color: rgb(255, 255, 255);
  font-size: 32px;

}
.section-6-div-2-ul
{
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  
}

.section-6-div-2-ul ul
{
  list-style-type: none;
  line-height: 60px;
}

.section-6-maindiv
{
  display: flex;
  padding: 160px;
  gap: 50px;
 
}

.div-hr
{
  
  /* padding: 160px; */
  margin: 0px 160px 0px 160px;
}

.section-6-all-right
{
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  text-align: center;
}




/* test */


















/* median for Phone*/
/* only medain sedtionn */



@media screen and (max-width:576px) {

/* for test body */
/* 
.body
{
  border: 3px solid red;
} */



/* section-1 */
/* 
.thre-dot
  {
  
    visibility:visible;
    margin-right:18px;
  } */

  
  .thre-dot
  {
    
    color: white;
    display: flex;
    margin-right: 18px;

   
    
  } 
  
  .nav-div1
  {
    margin-left: 18px;
  }

  .nav-div2
  {
    display: none;
  }


  .nav
  {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
   
  }


.fitness
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.div500
  {
    margin-top: -430px;
    margin-left: 270px;
  }


.main-div1
{
  width: 98%;
}


.main-div2
{
  width: 95%;
  height: 650px;
 
  display: flex;
  flex-direction: column;
  padding: 70px;
}
#images2-id
{
  width: 98%;
  height: 550px;
}

/* for play button */
.test
{
  visibility: visible;
}


.main-div1
  {
    
    height: max-content;
    margin-left: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
















/* section 2 */





  .section-challange-2
  {

    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }


  /* section-3 */
  .section-run-main
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  /* section-4 bmi table */

  div-button1
  {

    /* width: 500px; */
    display: flex;
    gap: 5px;
    flex-direction: row;
  }
  .div4-table
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .div4-table1{
    padding: 5%;
  }
  .div4-table2{
    display: flex;
    flex-direction: column;
    width: 96%;
  
    padding: 5%;
  }
  .div4-des
  {
    padding: 5%;
  }

/* section-5 */


.section-5
{
  padding: 40px;
}
.no-show
{
  display: none;
}
/* .od1 
{

} */
.od2 
{
  order: 1;
}


.od3
{
  order: 3;

}
/* .od4 
{
  
} */

.od5 
{
  order: 2;
}
.od6
{
  order: 4;
  
}

.grid-main
{
  width: 400px;

  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
  justify-content: center;
 
}

/* section - 6 */
.section-6-maindiv
{
  display: flex;
  flex-direction: column;
  /* padding: 160px; */
  gap: 50px;
 
}


.section-6-maindiv
{
  
  padding: 20px;
 
 
}



.div-hr
{
  
  /* padding: 160px; */
  margin: 0px 30px 0px 30px;
}






/* pore sara */
/* only for width */

.section-6-div-1
{
  width: 98%;
}
.section-6-div-2
{
  width: 98%;
}
.section-6-div-3
{
  width: 98%;
}


.run-des
{
  width: 98%;
  height: max-content;
 padding: 20px;
}



.section-challange-1
{

 
  width: 98%;
  text-align: center;
  margin: 0 auto;
}



.div5-des
{
  height: max-content;
  width: 98%;
 
  margin-bottom: 20px;
}

/* 
.div5-des h1
{
  height: max-content;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 20px;
} */



/* for section-2 */
.section-challange
{
  margin-top: 100px;
}











  
}

